aiohttp
aiosignal
appdirs
asgiref
async-timeout
attrs
autopep8
certifi
charset-normalizer
click
contourpy
cycler
Django
django-browser-reload
docker-pycreds
et-xmlfile
fonttools
frozenlist
gitdb
GitPython
idna
joblib
kiwisolver
matplotlib
multidict
numpy
openai
openpyxl
packaging
pandas
pandas-stubs
pathtools
Pillow
plotly
protobuf
psutil
pycodestyle
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
sentry-sdk
setproctitle
six
smmap
sqlparse
tenacity
threadpoolctl
tomli
tqdm
types-pytz
tzdata
urllib3
wandb
yarl
